.clubes-board {
    display: grid;
    padding-left: 50px;
    padding-right: 50px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.club-card {
    color: var(--primary-text-color);
    border-radius: 10px;
    background-color: #5dc0c0;
    padding: 15px;
    margin: 40px 10px;
    transition: 0.5s ease-in-out;
}

.club-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 9px 16px 0 rgba(166, 166, 166, 0.72);
}

.club-card-img-wrapper {
    height: 150px;
}

.club-card-img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}