.about-div {
    padding: 0px 150px 150px 150px;

    /*box-shadow: 0 2px 4px rgb(33 51 67 / 12%);*/
}

.activity-card{
    position: relative;
   left: 5%;
    color: var(--primary-text-color);
    border-radius: 5px;
    background-color: #5dc0c0;
    padding: 15px;
    margin: 20px 0;
    transition: 0.5s ease-in-out;
    width: 85%;

}