.slide-show{
    margin-top: 50px;
    width:100%;
    overflow: hidden;

}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 45%;

    width: auto;
    padding:  100px 16px 100px 16px ;
    margin-top: -50px;
    color: var( --secondary-text-color);
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    z-index: 3;
}
.next{
    right: 0;

}
.prev:hover,
.next:hover {
    color: var(--primary-text-color);
}

.slideshow-circles{
    position: absolute;
    top: 92%;
    right: 50%;
    color: var(--primary-text-color);
    cursor: pointer;
}
/*---------------*/